<launch>

<arg name="online" default="false"/>

<!--se for o processo online, chamamos os drivers das cameras-->
<group if="$(arg online)">
<!--lancar astra-->
<include file="$(find astra_launch)/launch/astra.launch">
    <param name="color_depth_synchronization" value="true"/>
</include>
<!--lancar zed-->
<include file="$(find zed_wrapper)/launch/zed.launch">
</include>
<!--lancar no de projecao calibrada da nuvem da astra-->
<node name="astra_calibrada_node" pkg="astra_calibrada" type="astra_calibrada" output="screen">
    <param name="resolucao" value="2"/>
</node>

</group>

</launch>
