[submodule "orb_slam_2_ros"]
	path = orb_slam_2_ros
	url = https://github.com/appliedAI-Initiative/orb_slam_2_ros.git
[submodule "viso2"]
	path = viso2
	url = https://github.com/srv/viso2.git
[submodule "hokuyo_node"]
	path = hokuyo_node
	url = https://github.com/ros-drivers/hokuyo_node.git
