<launch>

<arg name="online" default="true"/>

<!--se for o processo online, chamamos os drivers das cameras-->
<group if="$(arg online)">
<!--lancar astra-->
<include file="$(find astra_launch)/launch/astra.launch">
</include>
<!--lancar zed-->
<include file="$(find zed_wrapper)/launch/zed.launch">
</include>

<!--lancar no de projecao calibrada da nuvem da astra-->
<node name="astra_calibrada_node" pkg="astra_calibrada" type="astra_calibrada" output="screen">
    <!--intervalo de amotragem da imagem de profundidade, quanto menor mais pontos e detalhes, minimo de 1, maximo sugerido de 4-->
    <param name="resolucao" value="1"/> <!--parametro ajustado para maior resolucao ou velocidade de processamento, ajustar-->
</node>

</group>

</launch>
