<launch>
<arg name="bag" default="duo3d"/>

<!--gravando aqui os dados da camera e tudo possivel da pixhawk 2-->
<node name="rosbag_record" pkg="rosbag" type="record" output="screen" args="/duo3d/left/image_rect /duo3d/left/camera_info /duo3d/right/image_rect /duo3d/right/camera_info /mavros/global_position/local /mavros/local_position/odom /mavros/local_position/pose -O /home/$(env USER)/Desktop/$(arg bag)">
</node>


</launch>
