<launch>

<arg name="playback" default="false"/>
<arg name="visualizar" default="true"/>
<arg name="acumular" default="false"/>

<!--lancando o driver da camera-->
<group unless="$(arg playback)">
    <include file="$(find duo3d_driver)/launch/duo3d_depth.launch">
          <arg name="feedback" value="false"/>
    </include>
</group>

<!--lancando o orbslam2 com as configuracoes necessarias-->
<include file="$(find duo3d_slam_pkg)/OrbSLAM2/launch/duo3d.launch">
</include>

<!--aqui lancar a acumulacao a partir de overlap-->

<!--visualizar os resultados no rviz-->
<node if="$(arg visualizar)" pkg="rviz" type="rviz" name="rviz_orbslam" args="-d $(find duo3d_slam_pkg)/config/orbslam2_vis.rviz">
</node>

</launch>
