<launch>

<arg name="playback" default="false"/>
<arg name="acumular" default="false"/>
<arg name="visualizar" default="true"/>
<arg name="rtabmapviz" default="true" />

<!--lancando o driver da camera-->
<group unless="$(arg playback)">
    <include file="$(find duo3d_driver)/launch/duo3d_depth.launch">
          <arg name="feedback" value="false"/>
    </include>
</group>

<!--republicar com a calibracao correta para o resto do pipeline-->
<node name="republish_info_left" pkg="duo3d_slam_pkg" type="republish_cam_info" output="screen">
    <param name="image_topic_in" value="/duo3d/left/image_rect"/>
    <param name="image_topic_out" value="/duo3d/left/image_rect1"/>
    <param name="cam_info_out" value="/duo3d/left/camera_info1"/>
    <param name="camera_name" value="duo3d_left"/>
    <param name="file" value="file://$(find duo3d_slam_pkg)/calib/duo3d_left.yaml"/>
</node>
<node name="republish_info_right" pkg="duo3d_slam_pkg" type="republish_cam_info" output="screen">
    <param name="image_topic_in" value="/duo3d/right/image_rect"/>
    <param name="image_topic_out" value="/duo3d/right/image_rect1"/>
    <param name="cam_info_out" value="/duo3d/right/camera_info1"/>
    <param name="camera_name" value="duo3d_right"/>
    <param name="file" value="file://$(find duo3d_slam_pkg)/calib/duo3d_right.yaml"/>
</node>

<!--lancando o rtabmap com as configuracoes necessarias-->
<node pkg="rtabmap_ros" type="stereo_odometry" name="duo3d_stereo_odometry" output="screen">
      <remap from="left/image_rect"       to="/duo3d/left/image_rect1"/>
      <remap from="right/image_rect"      to="/duo3d/right/image_rect1"/>
      <remap from="left/camera_info"      to="/duo3d/left/camera_info1"/>
      <remap from="right/camera_info"     to="/duo3d/right/camera_info1"/>
      <remap from="odom"                  to="/stereo_odometer/odometry"/>

      <param name="frame_id" type="string" value="/duo3d/camera_frame"/>
      <param name="odom_frame_id" type="string" value="odom"/>

      <param name="Odom/Strategy" type="string" value="0"/> <!-- 0=BOW, 1=OpticalFlow 5=ORB_SLAM2 -->
      <param name="Odom/EstimationType" type="string" value="1"/> <!-- 3D->2D (PnP) -->
      <param name="Odom/MinInliers" type="string" value="7"/>
      <param name="Odom/RoiRatios" type="string" value="0.03 0.03 0.04 0.04"/>
      <param name="Odom/MaxDepth" type="string" value="6"/>
      <param name="OdomBow/NNDR" type="string" value="0.8"/>
      <param name="Odom/MaxFeatures" type="string" value="1000"/>
      <param name="Odom/FillInfoData" type="string" value="$(arg rtabmapviz)"/>
      <param name="GFTT/MinDistance" type="string" value="10"/>
      <param name="GFTT/QualityLevel" type="string" value="0.00001"/>


   </node>

   <group ns="rtabmap">
      <!-- Visual SLAM: args: "delete_db_on_start" and "udebug" -->
      <node name="rtabmap_duo3d" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
         <param name="frame_id" type="string" value="/duo3d/camera_frame"/>
         <param name="subscribe_stereo" type="bool" value="true"/>
         <param name="subscribe_depth" type="bool" value="false"/>

         <remap from="left/image_rect" to="/duo3d/left/image_rect1"/>
         <remap from="right/image_rect" to="/duo3d/right/image_rect1"/>
         <remap from="left/camera_info" to="/duo3d/left/camera_info1"/>
         <remap from="right/camera_info" to="/duo3d/right/camera_info1"/>

         <remap from="odom" to="/stereo_odometer/odometry"/>

         <param name="queue_size" type="int" value="10"/>

         <!-- RTAB-Map's parameters -->
         <param name="Rtabmap/TimeThr" type="string" value="700"/>
         <param name="Rtabmap/DetectionRate" type="string" value="2"/>

         <param name="Kp/WordsPerImage" type="string" value="200"/>
         <param name="Kp/RoiRatios" type="string" value="0.03 0.03 0.04 0.04"/>
         <param name="Kp/DetectorStrategy" type="string" value="0"/>   <!-- use SURF -->
         <param name="Kp/NNStrategy" type="string" value="1"/>         <!-- kdTree -->

         <param name="SURF/HessianThreshold" type="string" value="1000"/>

         <param name="Vis/MinInliers" type="string" value="10"/>
         <param name="Vis/EstimationType" type="string" value="1"/> <!-- 3D->2D (PnP) -->

         <param name="RGBD/LoopClosureReextractFeautures" type="string" value="true"/>
         <param name="Vis/MaxWords" type="string" value="500"/>
         <param name="Vis/MaxDepth" type="string" value="10"/>

         <param name="Grid/DepthDecimation" type="int" value="1"/>
         <param name="Grid/CellSize" type="double" value="0.01"/>
         <param name="cloud_filter_radius" type="double" value="0.0"/>
         <param name="Grid/RangeMax" type="double" value="0.0"/>
      </node>

<!-- Visualisation RTAB-Map -->
      <node if="$(arg rtabmapviz)" pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" output="screen">
         <param name="subscribe_stereo" type="bool" value="true"/>
         <param name="subscribe_odom_info" type="bool" value="true"/>
         <param name="queue_size" type="int" value="10"/>
         <param name="frame_id" type="string" value="base_footprint"/>
         <remap from="left/image_rect" to="/duo3d/left/image_rect1"/>
         <remap from="right/image_rect" to="/duo3d/right/image_rect1"/>
         <remap from="left/camera_info" to="/duo3d/left/camera_info1"/>
         <remap from="right/camera_info" to="/duo3d/right/camera_info1"/>
         <remap from="odom_info" to="/odom_info"/>
         <remap from="odom" to="/stereo_odometer/odometry"/>
         <remap from="mapData" to="mapData"/>
      </node>

   </group>

<!--aqui lancar a acumulacao a partir de overlap-->

<!--aqui lanca o rviz dedicado-->
   <node if="$(arg visualizar)" pkg="rviz" type="rviz" name="rviz_rtabmap" args="-d $(find duo3d_slam_pkg)/config/stereo_vis.rviz">
   </node>

</launch>
