<launch>
  <node pkg="tf" type="static_transform_publisher" name="map_duo_tf" args="0 0 0 0 0 0 map /duo3d/camera_frame 30"/>
  <node name="duo3d_orbslam2" pkg="orb_slam2_ros"
      type="orb_slam2_ros_stereo" args="
          $(find orb_slam2_ros)/orb_slam2/Vocabulary/ORBvoc.txt
          $(find duo3d_slam_pkg)/OrbSLAM2/yaml/duo3d.yaml"
      output="screen">
       <remap from="image_left/image_color_rect" to="/duo3d/left/image_rect" />
       <remap from="image_right/image_color_rect" to="/duo3d/right/image_rect" />

       <param name="publish_pointcloud" type="bool" value="false" />
       <param name="pointcloud_frame_id" type="string" value="map" />
       <param name="camera_frame_id" type="string" value="camera" />
  </node>
</launch>
