<launch>
  <node pkg="tf" type="static_transform_publisher" name="map_odom_tf" args="0 0 0 0 0 0 map odom 30"/>
  <node pkg="tf" type="static_transform_publisher" name="zed2_rtab_tf" args="0 0 0 0 0 0 zed_camera_center2 /zed/odom_rtab 30"/>
  <node pkg="tf" type="static_transform_publisher" name="zed1_rtab_tf" args="0 0 0 0 0 0 /zed/odom_rtab zed_camera_center 30"/>
  <node name="orb_slam2_zed" pkg="orb_slam2_ros"
      type="orb_slam2_ros_stereo" args="
          $(find orb_slam2_ros)/orb_slam2/Vocabulary/ORBvoc.txt
          $(find orb_slam2_ros)/orb_slam2/config/ZED2.yaml"
      output="screen">
       <remap from="image_left/image_color_rect" to="/zed/left/image_rect_color" />
       <remap from="image_right/image_color_rect" to="/zed/right/image_rect_color" />

       <param name="publish_pointcloud" type="bool" value="true" />
       <param name="pointcloud_frame_id" type="string" value="map" />
       <param name="camera_frame_id" type="string" value="zed_camera_center2" />
  </node>
</launch>
